* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* a1 */
.a1{
    position: relative;
    background-color: black;
    width: 100%;
    height: 30px;

}
.a1 img {
    position: absolute;
    width: 6%;
    right:0;
    top:5px;
}

/* a1 */
/* click-menu */
#menu-click:checked~.click-menu {
    height: 200px;
    display: flex;
}

.click-menu ul {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
    border-bottom: 2px solid #e5e5e5;
    padding-bottom: 20px;
}
.title1{
    text-align: center;
    font-size:14pt;
    padding-top:10px;
}
.click-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: white;
    transition: height 0.5s;
    justify-content: center;
    border-bottom: 2px solid #e5e5e5;
    height: 0;
    transition: all 0.5s;
    

}
.click-menu a{
    text-decoration: none;
    color: black;
}
.click-menu ul li {
    display: inline-block;
    justify-content: space-between;
}
.click-menu ul li a {
    color: black;
    display: block;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
}

.click-menu ul li a:hover {
    transform:scale(1.02);
    box-shadow: 0px 0px 5px #0072ce;
    border-radius: 5px;
}

.click-menu ul li a img {
    width: 120px;
    display: block;
}

/* click-menu */

/* click-menu1 */

#menu-click1:checked~.click-menu1 {
    height: 200px;
    display: flex;
}

.click-menu1 ul {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
    border-bottom: 2px solid #e5e5e5;
    
}
.title2{
    display: flex;
    justify-content: center;
    font-size:12pt;
    padding-top:10px;
}
.title2 a{
    text-decoration: none;
    color: black;
}
.title2 li{
    margin-left: 20px;
    font-size:16pt;
}
.title2 li:hover{
    transform:scale(1.02);
    box-shadow: 0px 0px 5px #0072ce;
}
.click-menu1 {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: white;
    transition: height 0.5s;
    justify-content: center;
    border-bottom: 2px solid #e5e5e5;
    height: 0;
    transition: all 0.5s;
}
.click-menu1 ul li {
    display: inline-block;
    justify-content: space-between;
}
.click-menu1 ul li a {
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
    color: black;
}

.click-menu1 ul li a:hover {
    border-radius: 5px;
    transform:scale(1.02);
    box-shadow: 0px 0px 5px #0072ce;
}

.click-menu1 ul li a img {
    width: 120px;
    display: block;
}

/* click-menu1 */
/* click-menu2 */

#menu-click2:checked~.click-menu2 {
    height: 80px;
    display: flex;
}


.click-menu2 {
    display: none;
    width: 100%;
    transition: height 0,5s;
    justify-content: center;
    border-top: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
    height: 0;
    transition: all 0,5s;
}

.click-menu2 li {
    margin-top:10px;
    display: inline-block;
    height: 60px;
    font-size:18pt;
}
.click-menu2 a {
    text-decoration: none;
    width: 200px;
    display: block;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: black;
}

.click-menu2 li:hover {
    transform:scale(1.02);
    box-shadow: 0px 0px 5px #0072ce;
    border-radius: 5px;
}

/* click-menu2 */
/* click-menu3 */


.click-menu3 {
    display: none;
    width: 100%;
    background-color: white;
    transition: height 0.5s;
    justify-content: center;
    border-bottom: 2px solid #e5e5e5;
    border-top: 2px solid #e5e5e5;
    height: 0;
    transition: all 0.5s;
}
#menu-click3:checked ~ .click-menu3 {
    height: 80px;
    display: flex;
}
.click-menu3  a{
    text-decoration: none;
    color: black;
}
.click-menu3 li{
    height: 60px;
    font-weight: bold;
    color: black;
    width:200px;
    padding: 10px;
    font-size:20pt;
    text-align: center;
}


.click-menu3 li:hover {
    transform:scale(1.02);
    border-radius: 5px;
    box-shadow: 0px 0px 5px #0072ce;
}


/* click-menu3 */
/* click-menu4 */

#menu-click4:checked ~ .click-menu4 {
    height: 200px;
    display: flex;
}
.click-menu4 ul {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
    border-bottom: 2px solid #e5e5e5;
    padding-bottom: 20px;
}
.click-menu4 {
    display: none;
    width: 100%;
    background-color: white;
    transition: height 0.5s;
    justify-content: center;
    border-bottom: 2px solid #e5e5e5;
    height: 0;
    transition: all 0.5s;
}
.click-menu4 a{
    text-decoration: none;
}
.click-menu4 ul li {
    display: inline-block;
}
.click-menu4 ul li a {
    display: block;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: black;
}

.click-menu4 ul li a:hover {
    transform:scale(1.02);
    border-radius: 5px;
    box-shadow: 0px 0px 5px #0072ce;
}

.click-menu4 ul li a img {
    width: 120px;
    display: block;
}
/* click-menu4 */

/* header */

header {
    width: 100%;
    background-image: url(../images/22575.jpg);
    height: 800px;
    background-size: cover;
    background-position: center center;
    position: relative;
}
header img {
    width: 450px;
    height: 150px;
}


header .logopts  {
    position: absolute;
    top: 200px;
    left: 200px;
}

header  h1 {
    font-size: 30pt;
    position: absolute;
}
/* header */
/* nav */

.nav5>ul>li {
    padding:0;
    margin:0;
    width: 100%;
    display: flex;
}
label{
    margin-left: 20px;
    margin-right: 20px;
    transform: translateX(-400px);
}

.nav5>ul {
    transform: translateY(30px);
    list-style: none;
    top: 30px;
}

nav {
    width: 100%;
    height: 80px;
    display: flex;
    position: relative;
}

nav .nav3 a img {
    margin-left: 20px;
    width: 70px;
    height: 50px;
}

nav .nav1 div .a2 {
    border: 2px solid black;
    border-radius: 25px;
    color: aqua;
    text-align: center;
    background-color: black;
    padding: 18px;
    font-size: 16pt;
}

nav .nav1 .nav4 {
    display: flex;
    justify-content: space-between;
}
.nav1 .bod1{
    background-color: black;
    border-radius: 25px;
}
nav .nav1 .nav4 input{
    border-radius: 25px;
    font-size: 16pt;
    width:200px;
    border: 2px solid black;
    border-radius: 25px;   
}

nav .nav1 div .a2:hover {
    background-color: white;
    color: blue
}

nav .nav1 .bod1 {
    display: flex;
    position: absolute;
    padding: 0;
    top: 10px;
    right: 10px;
}



nav a {
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    text-decoration: none;
    color: aqua;
    padding: 10px;
}

/* nav */


/* clip */

.clip iframe {
    width: 800px;
    height: 500px;
    margin-top: 50px;
    margin-left: 450px;
    border-radius: 25px;
}

.h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    font-size: 18pt;
    color: blue;
}

/* clip */

/* header */

/* hea */
.hea{
    width:100%;
    display: flex;
    justify-content: center;
    height:100%;
    margin: auto;
}
.heap {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    /* background-color: #0072ce; */
    margin-left: 180px;
    margin-right: 180px;
}
.hea1 {
    width: 50%;
    margin-top: 50px;
    margin-bottom: 50px;
    /* background-color: aqua; */
    padding-right: 20px;
}
.hea2{
    width: 50%;
    /* background-color:aquamarine; */
}
.hea1 img{
    width: 100%;
    height: 100%;
    
}
.hea2 div{
    padding-left: 20px;
    margin-top: 80px;
    /* background-color: red; */
}


.hea a {
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid black;
    padding: 10px;
    line-height: 100px;
}

/* hea */

/* aea */

.aea {
    margin-top: 50px;
    display: flex;
    width: 100%;
    justify-content: center;
    background-image: url(../images/thum1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    
}


.aea  a {
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid black;
    line-height: 100px;
    padding: 10px;
}

/* cea */

/* bea */

.bea {
    width:100%;
    display: flex;
    justify-content: center;
    margin: auto;
}



.bea div a {
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid black;
    line-height: 100px;
    padding: 10px;
}

/* bea */

/* cea */

.cea {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 50px;
    background-image: url(../images/car.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:right center;
}

.cea .cea3 {
    width: 640px;
    height: 100%;
}



.cea div a {
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid black;
    line-height: 100px;
    padding: 10px;
}

/* cea */

/* dea */

.dea {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: 50px;
    justify-content: center;

}

 /* .dea .hea1 {
    width: 50%;
    height: 340px;
} */

.dea .hea1 img {
    width: 640px;
    height: 400px;
} 



.dea a {
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid black;
    padding: 10px;
    line-height: 100px;
    
}

/* dea */

/* eea */

.eea {
    display: flex;
    width: 100%;
    
    margin-top: 50px;
    justify-content: center;
}
.eea .hea1 img {
    width: 640px;
    height: 400px;
} 

.eea  a {
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid black;
    line-height: 100px;
    padding: 10px;
}

/* eea */

/* fea */

.fea {
    display: flex;
    width: 100%;
    justify-content: center;
}
.fea .hea1{
    padding-right: 0;
}

.fea .hea2{
    margin-top: 50px;
    width:50%;
}
.fea p{
    width:90%;
    font-size: 15pt;
}
.fea p:first-child{
    font-size:25pt;
    font-variant: small-caps;
    margin-bottom: 30px;
}
.fea a {
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid black;
    padding: 10px;
    line-height: 100px;
    background-color:blue;
}


/* fea */

/* gea */

.gea {
    background-image: linear-gradient(0,rgba(162, 226, 169, 0.384),transparent),url(../images/stadium.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;

    margin-top: 50px;
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 120px;
}
.gea8{
    position: absolute;
    color: blue;
    margin-top: 50px;
    font-size:30pt;
}

.gea .gea3 {
    width: 50%;
    height: 100%;
}

.gea .gea3 .gea1 iframe {
    width: 70%;
    margin-top: 120px;
    height: 420px;
    margin-left: 180px;
}

.gea .gea5 {
    color: black;
    font-size: 12pt;
    width: 50%;
    height: 100%;
    color: white;
    line-height:30px;
    margin-top: 20px;
    
}
.gea .gea5 a {
    color:white;
    background-color: blue;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid white;
    padding: 10px;
    line-height: 100px;
}

.gea .gea5 .gea6 {
    width: 80%;
    margin-top: 100px;
    
}

.gea .gea5 .gea6 .gea7 {
    display: flex;
    margin-top: 20px;
}

/* gea */
/* pea */

.pea {
    display: flex;
    width: 100%;
    justify-content: center;
}
.pea .hea1{
    padding-right: 0;
}

.pea .hea2{
    margin-top: 50px;
    width:50%;
}
.pea p{
    width:80%;
    font-size: 15pt;
}
.pea p:first-child{
    font-size:25pt;
    font-variant: small-caps;
    margin-bottom: 30px;
}
.pea a {
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid black;
    padding: 10px;
    background-color:blue;
    line-height: 100px;
}

/* pea */
/* jea */

.jea {
    background-image: url(../images/callof.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    /* height: 600px; */
    margin-top: 50px;
    display: flex;
    justify-content: center;
    
    
}


.jea .jea3 {
    width: 50%;
    height: 100%;
}

 .jea1 iframe {
    width: 70%;
    margin-top: 100px;
    height: 420px;
    margin-left: 180px;
    margin-bottom: 100px;
}

.jea .jea5 {
    color: black;
    font-size: 12pt;
    width: 50%;
    height: 100%;
    color: white;
    line-height:30px;
    margin-top: 20px;
    
}
.jea5 a {
    color:white;
    background-color: blue;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid white;
    padding: 10px;
    line-height: 100px;
}

.jea6 {
    width: 80%;
    margin-top: 100px;
    margin-right: 200px;
}

.jea7 {
    display: flex;
    margin-top: 20px;
}

/* jea */

/* kea */

.kea {
    background-image: url(../images/inhg.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 100%;
    /* height: 600px; */
    margin-top: 50px;
    display: flex;
    justify-content: center;
    
}

.kea3 {
    width: 50%;
    height: 100%;
}

 .kea1 img {
    width: 70%;
    margin-top: 120px;
    height: 420px;
    margin-left: 180px;
    margin-bottom: 120px;
}

.kea .kea5 {
    color: black;
    font-size: 12pt;
    width: 50%;
    height: 100%;
    color: white;
    line-height:30px;
    margin-top: 20px;
    
}



.kea .kea5 a {
    color:white;
    background-color: blue;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid white;
    padding: 10px;
    line-height: 100px;
}

.kea .kea5 .kea6 {
    width: 80%;
    margin-top: 100px;
    
}

.kea .kea5 .kea6 .kea7 {
    display: flex;
    margin-top: 20px;
}

/* kea */

/* oea */

.oea {
    display: flex;
    width: 100%;
    height: 500px;
    margin-top: 50px;
    position: relative;
    justify-content: center;
    
}

 .oea3 {
    width: 50%;
    height: 100%;
    padding-right: 180px;
}

 .oea1 img {
    width: 100%;
    padding-top: 80px;
    height: 420px;
}

 .oea5 {
    width: 50%;
    height: 100%;
}

 .oea5 {
    right: 250px;
    color: black;
    font-size: 12pt;
}

 .oea6 p:first-child {
    font-size: 80pt;
    font-variant: small-caps;
}

 .oea5 a {
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid black;
    padding: 10px;
    line-height: 100px;
}

 .oea6 {
    width: 80%;
    
    margin-top: 80px;
    margin-left: 180px;
}

.oea7 {
    display: flex;
    margin-top: 20px;
}

/* oea */
/* lea */

.lea {
    background-image: url(../images/inhg.png);
    background-size: 1800px;
    background-repeat: no-repeat;
    width: 100%;
    
    margin-top: 50px;
    display: flex;
    justify-content: center;
    
}

.lea .lea3 {
    width: 50%;
    height: 100%;
}

.lea .lea3 .lea1 img {
    width: 70%;
    margin-top: 120px;
    height: 420px;
    margin-left: 180px;
    margin-bottom: 120px;
}

.lea5 {
    color: black;
    font-size: 12pt;
    width: 50%;
    height: 100%;
    color: white;
    line-height:30px;
    margin-top: 20px; 
}
.lea5 a {
    color:white;
    background-color: blue;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid white;
    padding: 10px;
    line-height: 100px;
}

 .lea6 {
    width: 80%;
    margin-top: 100px;
}

.lea .lea5 .lea6 .lea7 {
    display: flex;
    margin-top: 20px;
}

/* lea */

/* noti */
.noti {
    text-align: center;
    line-height: 50px;
    background-color: rgb(247, 241, 241);

    height: 250px;

}
.noti .noti1 p:first-child{
    color: rgb(76, 76, 243);
    font-size:30pt;
    padding-top: 80px;
}
.noti .noti1 p:last-child{
    font-size: 18pt;
}
.noti .noti2 p{
    font-size:8pt;
    margin-left: 1000px;
}
/* noti */

/* cha */
.cha {
    background-color: rgb(247, 241, 241);
    width: 100%;
    height: 100px;
}

.cha1 {
    display: flex;
    justify-content: center;
    width: 100%;
    color: black;
    /* transform: translateX(-111px); */
}
.cha2{
    width:11%;
    
    margin-left: 50px;
}

.cha5{
    width:15%;   
}

.cha4 {
    display: flex;
    justify-content: center;
}

.cha3 {
    width: 11%;
    height: 5px;
    background-color: #0072ce;
}

.cha6 {
    width: 12%;
    height: 5px;
    background-color: rgb(12, 39, 197);
    opacity: 50%;
}
/* cha */

/* uea */

.uea {
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: center;
    background-color: rgb(247, 241, 241);
    padding-right: 180px;
}

.uea .uea1 {
    width:45%;
    margin-left: 180px;
}
.uea .uea1 img{
    width:100%;
    height:340px;
    padding-right: 40px;
    
}
.uea .uea3 img{
    width:100%;
    padding-left: 40px;
    height:340px;
}
.uea .uea3{
    width:45%;
}

.uea1 div .uea2{
    display: flex;
}
.uea3 div .uea2{
    display: flex;
}

.uea .uea3 .uea4{
    padding-left: 40px;
}
.uea div h1 {
    font-variant: small-caps;
margin-bottom: 30px;
}

.uea a {
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid white;
    line-height: 100px;
    padding: 10px;
}

/* uea */

/* iea */
.iea {
    display: flex;
    width: 100%;
    height:100%;
    padding-top:50px;
    padding-bottom:50px;
    justify-content: center;
    /* background-color: rgb(247, 241, 241); */
}

.iea .iea1 {
    width:30%;
    margin-left: 180px;
}
 .iea1 img{
    width:100%;
    padding-right: 40px;
    height:210px;
    
}
.iea .iea3 img{
    width:100%;
    height:210px;
    padding-right: 20px;
    padding-left: 20px;
    
}
.iea .iea3{
    width:30%;
    
}
 .iea6 img{
    width:100%;
    padding-left: 40px;
    height:210px;
}
.iea .iea6{
    width:30%;
    margin-right: 180px;
}


.iea1 div .iea2{
    display: flex;
}
.iea3 div .iea2{
    display: flex;
}
.iea6 div .iea8{
    display: flex;
}

 .iea4{
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}
.iea7{
    padding-left: 40px;

}
.iea div h1 {
    font-variant: small-caps;
    margin-bottom: 30px;

}

.iea a {
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid white;
    padding: 10px;
}
.iea .lip{
    margin-top:30px;
}
.iea5{
    width: 100%;
    padding-right: 40px;
}

/* iea */
/* qea */
.qea{
    width: 100%;
}
.qea1{
    text-align: center;
    color: rgb(56, 56, 231);
    padding-top: 60px;
    font-size:18pt;
}
.qea2{
    margin-top:60px;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-right: 180px;
    padding-left: 180px;

}
.qea3{
    background-color: rgb(247, 241, 241);

    margin-right: 20px;
}
.qea4{
    background-color: rgb(247, 241, 241);

    margin-right: 20px;
}
.qea5{
    background-color: rgb(247, 241, 241);

    margin-right: 20px;
}
.qea6{
    background-color: rgb(247, 241, 241);
}
.qea7{
    width: 100%;
}
.qea3 .qea7 img{
    width:88%;
    margin:20px;
}
.qea4 .qea7 img{
    width:88%;
    margin:20px;

}
.qea5 .qea7 img{
    width:88%;
    margin:20px;
}
.qea6 .qea7 img{
    width:88%;
    margin:20px;
}
/* cách đều chữ */
.qea .qea3 .qea8{
    width:88%;
    margin:20px;
}
.qea .qea4 .qea8{
    width:88%;
    margin:20px;
}
.qea .qea5 .qea8{
    width:88%;
    margin:20px;
}
.qea .qea6 .qea8{
    width:88%;
    margin:20px;
}
/* cách đều chữ */


.qea .qea3 .qea8 .qea9{
    display: flex;
}
.qea .qea3 .qea8 h2{
margin-bottom: 20px;
}
.qea .qea4 .qea8 .qea9{
    display: flex;
}
.qea .qea4 .qea8 h2{
margin-bottom: 20px;
}
.qea .qea5 .qea8 .qea9{
    display: flex;
}
.qea .qea5 .qea8 h2{
margin-bottom: 20px;
}
.qea .qea6 .qea8 .qea9{
    display: flex;
}
.qea .qea6 .qea8 h2{
margin-bottom: 20px;
}
.qea .qea6 .qea8 a{
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid white;
    line-height: 150px;
    padding: 10px;
}
.qea .qea5 .qea8 a{
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid white;
    line-height: 150px;
    padding: 10px;
}
.qea .qea4 .qea8 a{
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid white;
    line-height: 150px;
    padding: 10px;
}
.qea .qea3 .qea8 a{
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid white;
    line-height: 150px;
    padding: 10px;
}
/* qea */
/* wea */
.wea{
    width: 100%;
}
.wea1{
    text-align: center;
    color: rgb(56, 56, 231);
    padding-top: 60px;
    font-size:18pt;
}
.wea2{
    margin-top:60px;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-right: 180px;
    padding-left: 180px;

}
.wea3{
    background-color: rgb(247, 241, 241);

    margin-right: 20px;
}
.wea4{
    background-color: rgb(247, 241, 241);

    margin-right: 20px;
}
.wea5{
    background-color: rgb(247, 241, 241);

    margin-right: 20px;
}
.wea6{
    background-color: rgb(247, 241, 241);

    
}
.wea3 .wea7 img{
    width:88%;
    margin:20px;
}
.wea4 .wea7 img{
    width:88%;
    margin:20px;

}
.wea5 .wea7 img{
    width:88%;
    margin:20px;
}
.wea6 .wea7 img{
    width:88%;
    margin:20px;
}
/* cách đều chữ */
.wea .wea3 .wea8{
    width:100%;
    margin:20px;
}
.wea .wea4 .wea8{
    width:100%;
    margin:20px;
}
.wea .wea5 .wea8{
    width:100%;
    margin:20px;
}
.wea .wea6 .wea8{
    width:100%;
    margin:20px;
}
/* cách đều chữ */


.wea .wea3 .wea8 .wea9{
    display: flex;
}
.wea .wea3 .wea8 h2{
margin-bottom: 20px;
}
.wea .wea4 .wea8 .wea9{
    display: flex;
}
.wea .wea4 .wea8 h2{
margin-bottom: 20px;
}
.wea .wea5 .wea8 .wea9{
    display: flex;
}
.wea .wea5 .wea8 h2{
margin-bottom: 20px;
}
.wea .wea6 .wea8 .wea9{
    display: flex;
}
.wea .wea6 .wea8 h2{
margin-bottom: 20px;
}
.wea .wea5 .wea8 a{
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid white;
    line-height: 150px;
    padding: 10px;
}
.wea .wea3 .wea8 a{
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid white;
    line-height: 150px;
    padding: 10px;
}


/* wea */

/* nea */
.nea{
    width: 100%;
    padding-bottom: 60px;
}
.nea1{
    text-align: center;
    color: rgb(56, 56, 231);
    padding-top: 60px;
    font-size:18pt;
}
.nea2{
    margin-top:60px;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-right: 180px;
    padding-left: 180px;

}
.nea3{
    background-color: rgb(247, 241, 241);

    margin-right: 20px;
}
.nea4{
    background-color: rgb(247, 241, 241);

    margin-right: 20px;
}
.nea5{
    background-color: rgb(247, 241, 241);

    margin-right: 20px;
}
.nea6{
    background-color: rgb(247, 241, 241);

    
}
.nea3 .nea7 img{
    width:88%;
    margin:20px;
}
.nea4 .nea7 img{
    width:88%;
    margin:20px;

}
.nea5 .nea7 img{
    width:88%;
    margin:20px;
}
.nea6 .nea7 img{
    width:88%;
    margin:20px;
}
/* cách đều chữ */
.nea  .nea8{
    width:100%;
    margin:20px;
}

/* cách đều chữ */
.nea .nea9{
    display: flex;
}
.nea  h2{
margin-bottom: 20px;
}

.nea  a{
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid white;
    line-height: 150px;
    padding: 10px;
}

/* nea */
 
/* footer */

footer {
    background-color: #0072ce;
    
    display: flex;
    width: 100%;
    height: 100%;
}

.bod6 {
    display: flex;
    width: 40%;
    height: 100%;
}

/* no3 */

.no1 .no5 {
    width: 100px;
    height: 100px;
}

.no1 .no3 img {
    width: 40px;
    height: 40px;
}

.no1 .no3 {
    display: flex;
}

.no1 .no3 p {
    color: white;
    padding-top: 10px;
    padding-left: 10px;
}

.no1 .no7 {
    color: white;
}

.bod6 .no2 .no6 {
    width: 220px;
    height: 180px;
}

.no1 {
    padding-left: 100px;
    padding-top: 40px;
}

.no2 {
    padding-left: 100px;
}

.no2 .no7 {
    color: white
}

.bod5 {
    display: flex;
    width: 58%;
    justify-content: center;
    padding-top: 120px;
    line-height: 30px;
    font-size: 10pt;
    color: rgba(255, 255, 255, 0.87);
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

