* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* a1 */
.a1{
    position: relative;
    background-color: black;
    width: 100%;
    height: 30px;

}
.a1 img {
    position: absolute;
    width: 6%;
    right:0;
    top:5px;
}

/* a1 */

/* header */

header {
    width: 100%;
    background-image: url(../images/22575.jpg);
    padding-bottom: 0px;
    height: 800px;
    background-size: cover;
    background-position: center center;
}

header img {
    position: relative;
}

header div .logopts img {
    width: 450px;
    height: 150px;
    top: 200px;
    left: 200px;
}

header div div h1 {
    font-size: 40pt;
    margin-left: 200px;
    margin-top: 200px;
}
/* header */
/* nav */

.nav5>ul>li {
    padding-right: 50px;
    position: relative;
    width: 100%;
}

.nav5>ul>li>ul {
    position: absolute;
    display: none;
    list-style: none;
    line-height: 30px;
    width: 100%;
}

.nav5>ul>li:hover ul {
    margin-top: 10px;
    box-shadow: 10px -10px 40px aqua;
    border: 2px solid black;
    border-radius: 20px;
    padding-top: 10px;
    display: flex;
    ;
    width: 400px;
    justify-content: center;
}



.nav5>ul {
    display: flex;
    list-style: none;
    position: absolute;
    top: 30px;
    left: -400px;
}

nav {
    width: 100%;
    height: 80px;
    display: flex;
    position: relative;
}



nav .nav3 a img {
    margin-left: 20px;
    width: 70px;
    height: 50px;
}

nav .nav1 div .a2 {
    border: 2px solid black;
    border-radius: 25px;
    color: aqua;
    text-align: center;
    background-color: black;
    padding: 18px;
    font-size: 16pt;
}

nav .nav1 .nav4 {
    display: flex;
    
    justify-content: space-between;
    
}
.nav1 .bod1{
    background-color: black;
    border-radius: 25px;
}
nav .nav1 .nav4 input{
    border-radius: 25px;
    font-size: 16pt;
    width:200px;
    border: 2px solid black;
    border-radius: 25px;
    
    
}


nav .nav1 .nav4 .a4 {
    padding: 18px;
    font-size: 16pt;
}

nav .nav1 div .a2:hover {
    background-color: white;
    color: blue
}

nav .nav1 .bod1 {
    display: flex;
    position: absolute;
    padding: 0;
    top: 10px;
    right: 10px;
}

nav .nav5 {
    padding-top: 40px;
}

nav a {
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    text-decoration: none;
    color: aqua;
    padding: 10px;
}

/* nav */

/* clip */

.clip iframe {
    width: 800px;
    height: 500px;
    margin-top: 50px;
    margin-left: 450px;
    border-radius: 25px;
}

.h1 {
    text-align: center;
    font-weight: bold;
    margin-top: 50px;
    font-size: 18pt;
    color: blue;
}

/* clip */

/* header */

/* hea */

.hea {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 400px;
    margin-top: 50px;
    justify-content: center;
}

.hea .hea1 {
    width: 640px;
    height: 340px;
    background-color: #00439c;
}

.hea .hea2 {
    width: 640px;
    height: 340px;
    margin-left: 20px;
    margin-top: 20px;
    line-height: 30px;
}

.hea .hea1 button>img {
    width: 640px;
    height: 400px;
}

.hea .hea2 div h1 {
    font-weight: lighter;
    font-variant: small-caps;
}

.hea a {
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid black;
    padding: 10px;
    line-height: 100px;
}

/* hea */

/* aea */

.aea {
    display: flex;
    width: 100%;
    height: 500px;
    margin-top: 50px;
    position: relative;
    background-image: url(../images/thum1.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
}

.aea .aea3 {
    width: 480%;
    height: 80%;
}

.aea .aea1 img {
    width: 50%;
    padding-left: 192px;
    padding-top: 80px;
    height: 420px;
}

.aea .aea5 {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    line-height: 30px;
    bottom: 0;
}

.aea .aea5 div {
    right: 250px;
    margin-top: 100px;
    margin-left: 20px;
    color: white;
}

.aea .aea5 div p:first-child {
    font-weight: bolder;
    font-size: 30pt;
    font-variant: small-caps;
    margin-bottom: 30px;
}

.aea .aea5 div a {
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid black;
    line-height: 100px;
    padding: 10px;
}

/* cea */

/* bea */

.bea {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 400px;
    margin-top: 50px;
    justify-content: center;
}

.bea .bea1 {
    width: 640px;
    height: 340px;
    background-color: #00439c;
}

.bea .bea2 {
    width: 640px;
    height: 340px;
    margin-left: 20px;
    margin-top: 20px;
    font-weight: normal;
    font-style: normal;
    line-height: 30px;
}

.bea .bea1 button>img {
    width: 640px;
    height: 400px;
}

.bea .bea2 div h1 {
    font-weight: lighter;
    font-variant: small-caps;
}

.bea .bea2 div a {
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid black;
    line-height: 100px;
    padding: 10px;
}

/* bea */

/* cea */

.cea {
    display: flex;
    width: 100%;
    height: 500px;
    margin-top: 50px;
    position: relative;
    background-image: url(../images/car.jpeg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position:right center;
    
    
}

.cea .cea3 {
    width: 50%;
    height: 80%;
}

.cea .cea1 img {
    width: 100%;
    padding-left: 192px;
    padding-top: 80px;
    height: 420px;
}

.cea .cea5 {
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    bottom: 0;
}

.cea .cea5 div {
    right: 250px;
    margin-top: 100px;
    margin-left: 20px;
    line-height: 30px;
    color: white;
}

.cea .cea5 div p:first-child {
    font-weight: bolder;
    font-size: 30pt;
    font-variant: small-caps;
    margin-bottom: 30px;
}

.cea .cea5 div a {
    background-color: white;
    color: black;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid black;
    line-height: 100px;
    padding: 10px;
}

/* cea */

/* dea */

.dea {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 700px;
    margin-top: 50px;
    justify-content: center;
}

.dea .dea1 {
    width: 640px;
    height: 340px;
}

.dea .dea1 img {
    width: 640px;
    height: 400px;
}

.dea .dea1 div h1 {
    font-variant: small-caps;
    margin-bottom: 30px;
}

.dea .dea1 div a {
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid black;
    padding: 10px;
    line-height: 100px;
}

/* dea */

/* eea */

.eea {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 700px;
    margin-top: 50px;
    justify-content: center;
}

.eea .eea1 {
    width: 640px;
    height: 340px;
}

.eea .eea1 img {
    width: 640px;
    height: 400px;
}

.eea .eea1 div h1 {
    font-variant: small-caps;
    margin-bottom: 30px;
}

.eea .eea1 div a {
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid black;
    line-height: 100px;
    padding: 10px;
}

/* eea */

/* fea */

.fea {
    display: flex;
    width: 100%;
    height: 500px;
    margin-top: 50px;
    position: relative;
    justify-content: center;
    
}

.fea .fea3 {
    width: 50%;
    height: 100%;
}

.fea .fea1 img {
    width: 100%;
    padding-right: 200px;
    padding-top: 80px;
    height: 420px;
}

.fea .fea5 {
    width: 50%;
    height: 100%;
}

.fea .fea5 {
    right: 250px;
    color: black;
    font-size: 12pt;
}

.fea .fea5 .fea6 p:first-child {
    font-size: 80pt;
    font-variant: small-caps;
}

.fea .fea5 a {
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid black;
    padding: 10px;
    line-height: 100px;
}

.fea .fea5 .fea6 {
    width: 80%;
    padding-left: 20px;
    margin-top: 80px;
    margin-left: 200px;
}

.fea .fea5 .fea6 .fea7 {
    display: flex;
    margin-top: 20px;
}

/* fea */

/* gea */

.gea {
    background-image: linear-gradient(0,rgba(162, 226, 169, 0.384),transparent),url(../images/stadium.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    position: relative;
    
}
.gea8{
    position: absolute;
    color: blue;
    margin-top: 50px;
    font-size:30pt;
}

.gea .gea3 {
    width: 50%;
    height: 100%;
}

.gea .gea3 .gea1 iframe {
    width: 70%;
    margin-top: 120px;
    height: 420px;
    margin-left: 200px;
}

.gea .gea5 {
    right: 250px;
    color: black;
    font-size: 12pt;
    width: 50%;
    height: 100%;
    color: white;
    line-height:30px;
    margin-top: 20px;
    
}



.gea .gea5 a {
    color:white;
    background-color: blue;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid white;
    padding: 10px;
    line-height: 100px;
}

.gea .gea5 .gea6 {
    width: 80%;
    margin-top: 100px;
    
}

.gea .gea5 .gea6 .gea7 {
    display: flex;
    margin-top: 20px;
}

/* gea */
/* pea */

.pea {
    display: flex;
    width: 100%;
    height: 500px;
    margin-top: 50px;
    position: relative;
    justify-content: center;
    
}

.pea .pea3 {
    width: 50%;
    height: 100%;
    padding-right: 220px;
}

.pea .pea1 img {
    width: 100%;
    
    padding-top: 80px;
    height: 420px;
}

.pea .pea5 {
    width: 50%;
    height: 100%;
}

.pea .pea5 {
    right: 250px;
    color: black;
    font-size: 12pt;
}

.pea .pea5 .pea6 p:first-child {
    font-size: 80pt;
    font-variant: small-caps;
}

.pea .pea5 a {
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid black;
    padding: 10px;
    line-height: 100px;
}

.pea .pea5 .pea6 {
    width: 80%;
    padding-left: 20px;
    margin-top: 80px;
    margin-left: 200px;
}

.pea .pea5 .pea6 .pea7 {
    display: flex;
    margin-top: 20px;
}

/* pea */
/* jea */

.jea {
    background-image: url(../images/callof.png);
    background-size: 1800px;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    
}

.jea .jea3 {
    width: 50%;
    height: 100%;
}

.jea .jea3 .jea1 iframe {
    width: 70%;
    margin-top: 100px;
    height: 420px;
    margin-left: 200px;
}

.jea .jea5 {
    right: 250px;
    color: black;
    font-size: 12pt;
    width: 50%;
    height: 100%;
    color: white;
    line-height:30px;
    margin-top: 20px;
    
}



.jea .jea5 a {
    color:white;
    background-color: blue;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid white;
    padding: 10px;
    line-height: 100px;
}

.jea .jea5 .jea6 {
    width: 80%;
    margin-top: 100px;
    
}

.jea .jea5 .jea6 .jea7 {
    display: flex;
    margin-top: 20px;
}

/* jea */

/* kea */

.kea {
    background-image: url(../images/inhg.png);
    background-size: 1800px;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    
}

.kea .kea3 {
    width: 50%;
    height: 100%;
}

.kea .kea3 .kea1 img {
    width: 70%;
    margin-top: 100px;
    height: 420px;
    margin-left: 200px;
}

.kea .kea5 {
    right: 250px;
    color: black;
    font-size: 12pt;
    width: 50%;
    height: 100%;
    color: white;
    line-height:30px;
    margin-top: 20px;
    
}



.kea .kea5 a {
    color:white;
    background-color: blue;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid white;
    padding: 10px;
    line-height: 100px;
}

.kea .kea5 .kea6 {
    width: 80%;
    margin-top: 100px;
    
}

.kea .kea5 .kea6 .kea7 {
    display: flex;
    margin-top: 20px;
}

/* kea */

/* oea */

.oea {
    display: flex;
    width: 100%;
    height: 500px;
    margin-top: 50px;
    position: relative;
    justify-content: center;
    
}

.oea .oea3 {
    width: 50%;
    height: 100%;
    padding-right: 200px;
}

.oea .oea1 img {
    width: 100%;
    
    padding-top: 80px;
    height: 420px;
}

.oea .oea5 {
    width: 50%;
    height: 100%;
}

.oea .oea5 {
    right: 250px;
    color: black;
    font-size: 12pt;
}

.oea .oea5 .oea6 p:first-child {
    font-size: 80pt;
    font-variant: small-caps;
}

.oea .oea5 a {
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid black;
    padding: 10px;
    line-height: 100px;
}

.oea .oea5 .oea6 {
    width: 80%;
    padding-left: 20px;
    margin-top: 80px;
    margin-left: 200px;
}

.oea .oea5 .oea6 .oea7 {
    display: flex;
    margin-top: 20px;
}

/* oea */
/* lea */

.lea {
    background-image: url(../images/inhg.png);
    background-size: 1800px;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    
}

.lea .lea3 {
    width: 50%;
    height: 100%;
}

.lea .lea3 .lea1 img {
    width: 70%;
    margin-top: 100px;
    height: 420px;
    margin-left: 200px;
}

.lea .lea5 {
    right: 250px;
    color: black;
    font-size: 12pt;
    width: 50%;
    height: 100%;
    color: white;
    line-height:30px;
    margin-top: 20px;
    
}



.lea .lea5 a {
    color:white;
    background-color: blue;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid white;
    padding: 10px;
    line-height: 100px;
}

.lea .lea5 .lea6 {
    width: 80%;
    margin-top: 100px;
    
}

.lea .lea5 .lea6 .lea7 {
    display: flex;
    margin-top: 20px;
}

/* lea */

/* noti */
.noti {
    text-align: center;
    line-height: 50px;
    background-color: rgb(247, 241, 241);

    height: 250px;

}
.noti .noti1 p:first-child{
    color: rgb(76, 76, 243);
    font-size:30pt;
    padding-top: 80px;
}
.noti .noti1 p:last-child{
    font-size: 18pt;
}
.noti .noti2 p{
    font-size:8pt;
    margin-left: 1000px;
}
/* noti */

/* cha */
.cha {
    background-color: transparent;
    width: 100%;
    height: 100px;
}

.cha1 {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    width: 100%;
    color: black;
    /* transform: translateX(-111px); */
}
.cha2{
    width:15%;
    
}
.cha2 p{
    padding-left: 90px;
}
.cha5{
    width:15%;
    
}

.cha4 {
    display: flex;
    justify-content: center;
    
}

.cha3 {
    width: 11%;
    height: 5px;
    background-color: green;
}

.cha6 {
    width: 12%;
    height: 5px;
    background-color: green;
    opacity: 50%;
}
/* cha */

/* uea */

.uea {
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: center;
    background-color: rgb(247, 241, 241);

}

.uea .uea1 {
    width:45%;
    margin-left: 200px;
    
    
}
.uea .uea1 img{
    width:100%;
    height:340px;
    padding-right: 40px;
    
}
.uea .uea3 img{
    width:100%;
    padding-left: 40px;
    height:340px;
    
}
.uea .uea3{
    width:45%;
    margin-right: 200px;
    

}

.uea1 div .uea2{
    display: flex;
}
.uea3 div .uea2{
    display: flex;
}

.uea .uea3 .uea4{
    padding-left: 40px;
}
.uea div h1 {
    font-variant: small-caps;
margin-bottom: 30px;
}

.uea a {
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid white;
    line-height: 100px;
    padding: 10px;
}

/* uea */

/* iea */
.iea {
    display: flex;
    width: 100%;
    height: 450px;
    justify-content: center;
    background-color: rgb(247, 241, 241);

    
}

.iea .iea1 {
    width:30%;
    
    margin-left: 200px;
}
.iea .iea1 img{
    width:100%;
    padding-right: 40px;
    height:210px;
    
}
.iea .iea3 img{
    width:100%;
    height:210px;
    padding-right: 20px;
    padding-left: 20px;
    
}
.iea .iea3{
    width:30%;
    
}
.iea .iea6 img{
    width:100%;
    padding-left: 40px;
    height:210px;
}
.iea .iea6{
    width:30%;
    margin-right: 200px;
}


.iea1 div .iea2{
    display: flex;
}
.iea3 div .iea2{
    display: flex;
}
.iea6 div .iea8{
    display: flex;
}

.iea .iea3 .iea4{
    padding-left: 20px;
    width: 100%;
}
.iea .iea6 .iea7{
    padding-left: 40px;

}
.iea div h1 {
    font-variant: small-caps;
    margin-bottom: 30px;

}

.iea a {
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid white;
    line-height: 150px;
    padding: 10px;
}


/* iea */
/* qea */
.qea{
    width: 100%;
}
.qea1{
    text-align: center;
    color: rgb(56, 56, 231);
    padding-top: 60px;
    font-size:18pt;
}
.qea2{
    margin-top:60px;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-right: 200px;
    padding-left: 200px;

}
.qea3{
    background-color: rgb(247, 241, 241);

    margin-right: 20px;
}
.qea4{
    background-color: rgb(247, 241, 241);

    margin-right: 20px;
}
.qea5{
    background-color: rgb(247, 241, 241);

    margin-right: 20px;
}
.qea6{
    background-color: rgb(247, 241, 241);

    
}
.qea3 .qea7 img{
    width:88%;
    margin:20px;
}
.qea4 .qea7 img{
    width:88%;
    margin:20px;

}
.qea5 .qea7 img{
    width:88%;
    margin:20px;
}
.qea6 .qea7 img{
    width:88%;
    margin:20px;
}
/* cách đều chữ */
.qea .qea3 .qea8{
    width:100%;
    margin:20px;
}
.qea .qea4 .qea8{
    width:100%;
    margin:20px;
}
.qea .qea5 .qea8{
    width:100%;
    margin:20px;
}
.qea .qea6 .qea8{
    width:100%;
    margin:20px;
}
/* cách đều chữ */


.qea .qea3 .qea8 .qea9{
    display: flex;
}
.qea .qea3 .qea8 h2{
margin-bottom: 20px;
}
.qea .qea4 .qea8 .qea9{
    display: flex;
}
.qea .qea4 .qea8 h2{
margin-bottom: 20px;
}
.qea .qea5 .qea8 .qea9{
    display: flex;
}
.qea .qea5 .qea8 h2{
margin-bottom: 20px;
}
.qea .qea6 .qea8 .qea9{
    display: flex;
}
.qea .qea6 .qea8 h2{
margin-bottom: 20px;
}
.qea .qea6 .qea8 a{
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid white;
    line-height: 150px;
    padding: 10px;
}
.qea .qea5 .qea8 a{
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid white;
    line-height: 150px;
    padding: 10px;
}
.qea .qea4 .qea8 a{
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid white;
    line-height: 150px;
    padding: 10px;
}
.qea .qea3 .qea8 a{
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid white;
    line-height: 150px;
    padding: 10px;
}
/* qea */
/* wea */
.wea{
    width: 100%;
}
.wea1{
    text-align: center;
    color: rgb(56, 56, 231);
    padding-top: 60px;
    font-size:18pt;
}
.wea2{
    margin-top:60px;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-right: 200px;
    padding-left: 200px;

}
.wea3{
    background-color: rgb(247, 241, 241);

    margin-right: 20px;
}
.wea4{
    background-color: rgb(247, 241, 241);

    margin-right: 20px;
}
.wea5{
    background-color: rgb(247, 241, 241);

    margin-right: 20px;
}
.wea6{
    background-color: rgb(247, 241, 241);

    
}
.wea3 .wea7 img{
    width:88%;
    margin:20px;
}
.wea4 .wea7 img{
    width:88%;
    margin:20px;

}
.wea5 .wea7 img{
    width:88%;
    margin:20px;
}
.wea6 .wea7 img{
    width:88%;
    margin:20px;
}
/* cách đều chữ */
.wea .wea3 .wea8{
    width:100%;
    margin:20px;
}
.wea .wea4 .wea8{
    width:100%;
    margin:20px;
}
.wea .wea5 .wea8{
    width:100%;
    margin:20px;
}
.wea .wea6 .wea8{
    width:100%;
    margin:20px;
}
/* cách đều chữ */


.wea .wea3 .wea8 .wea9{
    display: flex;
}
.wea .wea3 .wea8 h2{
margin-bottom: 20px;
}
.wea .wea4 .wea8 .wea9{
    display: flex;
}
.wea .wea4 .wea8 h2{
margin-bottom: 20px;
}
.wea .wea5 .wea8 .wea9{
    display: flex;
}
.wea .wea5 .wea8 h2{
margin-bottom: 20px;
}
.wea .wea6 .wea8 .wea9{
    display: flex;
}
.wea .wea6 .wea8 h2{
margin-bottom: 20px;
}
.wea .wea5 .wea8 a{
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid white;
    line-height: 150px;
    padding: 10px;
}
.wea .wea3 .wea8 a{
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid white;
    line-height: 150px;
    padding: 10px;
}


/* wea */

/* nea */
.nea{
    width: 100%;
}
.nea1{
    text-align: center;
    color: rgb(56, 56, 231);
    padding-top: 60px;
    font-size:18pt;
}
.nea2{
    margin-top:60px;
    display: flex;
    width: 100%;
    justify-content: center;
    padding-right: 200px;
    padding-left: 200px;

}
.nea3{
    background-color: rgb(247, 241, 241);

    margin-right: 20px;
}
.nea4{
    background-color: rgb(247, 241, 241);

    margin-right: 20px;
}
.nea5{
    background-color: rgb(247, 241, 241);

    margin-right: 20px;
}
.nea6{
    background-color: rgb(247, 241, 241);

    
}
.nea3 .nea7 img{
    width:88%;
    margin:20px;
}
.nea4 .nea7 img{
    width:88%;
    margin:20px;

}
.nea5 .nea7 img{
    width:88%;
    margin:20px;
}
.nea6 .nea7 img{
    width:88%;
    margin:20px;
}
/* cách đều chữ */
.nea .nea3 .nea8{
    width:100%;
    margin:20px;
}
.nea .nea4 .nea8{
    width:100%;
    margin:20px;
}
.nea .nea5 .nea8{
    width:100%;
    margin:20px;
}
.nea .nea6 .nea8{
    width:100%;
    margin:20px;
}
/* cách đều chữ */


.nea .nea3 .nea8 .nea9{
    display: flex;
}
.nea .nea3 .nea8 h2{
margin-bottom: 20px;
}
.nea .nea4 .nea8 .nea9{
    display: flex;
}
.nea .nea4 .nea8 h2{
margin-bottom: 20px;
}
.nea .nea5 .nea8 .nea9{
    display: flex;
}
.nea .nea5 .nea8 h2{
margin-bottom: 20px;
}
.nea .nea6 .nea8 .nea9{
    display: flex;
}
.nea .nea6 .nea8 h2{
margin-bottom: 20px;
}
.nea .nea6 .nea8 a{
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid white;
    line-height: 150px;
    padding: 10px;
}
.nea .nea5 .nea8 a{
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid white;
    line-height: 150px;
    padding: 10px;
}
.nea .nea4 .nea8 a{
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid white;
    line-height: 150px;
    padding: 10px;
}
.nea .nea3 .nea8 a{
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid white;
    line-height: 150px;
    padding: 10px;
}


/* nea */
 /* mea */
.mea{
    margin-top:60px;
    
    width:100%;
    display: flex;
    padding-left:200px;
    padding-right: 200px;
    margin-bottom: 60px;
}
.mea10{
    display: flex;
    justify-content: center;
    width:100%;
    
}
.mea11{
    width:100%;
}
.mea .mea1 .mea3 img{
    width:88%;
    margin:20px;
}
.mea .mea2 .mea3 img{
    width:88%;
    height: 150px;

    margin: 20px;
}
/* cách đều chữ */

.mea .mea10 .mea1 .mea4{
    width:100%;
    margin:20px;
}
.mea .mea10 .mea2 .mea4{
    width:100%;
    margin:20px;
}
.mea .mea10 .mea1 .mea4 .mea5 h2{
    margin-bottom: 20px;
}
.mea .mea10 .mea2 .mea4 .mea5 h2{
    margin-bottom: 20px;
}
/* cách đều chữ */

.mea .mea10 .mea1 .mea4 .mea5{
    display: flex;
}
.mea .mea10 .mea2 .mea4 .mea5{
    display: flex;
}

.mea1{
    background-color: rgb(247, 241, 241);

    margin-right: 20px;
}
.mea2{
    background-color: rgb(247, 241, 241);
    margin-right: 20px;
}

.mea .mea1 a{
    background-color: blue;
    color: white;
    text-decoration: none;
    border-radius: 25px;
    border: 2px solid white;
    line-height: 150px;
    padding: 10px;
}

/* mea */

/* footer */

footer {
    background-color: #0072ce;
    
    display: flex;
    width: 100%;
    height: 100%;
}

.bod6 {
    display: flex;
    width: 40%;
    height: 100%;
}

/* no3 */

.no1 .no5 {
    width: 100px;
    height: 100px;
}

.no1 .no3 img {
    width: 40px;
    height: 40px;
}

.no1 .no3 {
    display: flex;
}

.no1 .no3 p {
    color: white;
    padding-top: 10px;
    padding-left: 10px;
}

.no1 .no7 {
    color: white;
}

.bod6 .no2 .no6 {
    width: 220px;
    height: 180px;
}

.no1 {
    padding-left: 100px;
    padding-top: 40px;
}

.no2 {
    padding-left: 100px;
}

.no2 .no7 {
    color: white
}

.bod5 {
    display: flex;
    width: 58%;
    justify-content: center;
    padding-top: 120px;
    line-height: 30px;
    font-size: 10pt;
    color: rgba(255, 255, 255, 0.87);
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

