* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* a1 */

.a1 {
    position: relative;
    background-color: black;
    width: 100%;
    height: 30px;
}

.a1 img {
    position: absolute;
    width: 6%;
    right: 0;
    top: 5px;
}

/* a1 */

/* header */

header {
    width: 100%;
    background-image: url(../images/1.jpg);
    padding-bottom: 0px;
    height: 800px;
    background-size: cover;
    background-position: center center;
}

header img {
    width: 100%;
    height: 800px;
    position: relative;
}

header h1 {
    position: absolute;
    top: 800px;
    left: 400px;
}

header h1 a {
    color: aqua;
    text-decoration: none;
}

/* header */

/* hea */

.hea {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-top: 40px;
}

.hea img {
    width: 15%;
    height: 100%;
    border-radius: 25px;
    margin-left: 10px;
}

.hea img:hover {
    margin-top: 10px;
    box-shadow: 10px -10px 10px aqua;
    border: 5px solid black;
    border-radius: 25px;
    padding-top: 10px;
}

/* hea */

/* nav */

.nav5>ul>li {
    padding-right: 50px;
    position: relative;
    width: 100%;
}

.nav5>ul>li>ul {
    position: absolute;
    display: none;
    list-style: none;
    line-height: 30px;
    width: 100%;
}

.nav5>ul>li:hover ul {
    margin-top: 10px;
    box-shadow: 10px -10px 40px aqua;
    border: 2px solid black;
    border-radius: 20px;
    padding-top: 10px;
    display: flex;
    ;
    width: 400px;
    justify-content: center;
}

.nav5>ul {
    display: flex;
    list-style: none;
    position: absolute;
    top: 30px;
    left: -400px;
}

nav {
    width: 100%;
    height: 80px;
    display: flex;
    position: relative;
}

nav .nav3 a img {
    margin-left: 20px;
    width: 70px;
    height: 50px;
}

nav .nav1 div .a2 {
    border: 2px solid black;
    border-radius: 25px;
    color: aqua;
    text-align: center;
    background-color: black;
    padding: 18px;
    font-size: 16pt;
}

nav .nav1 .nav4 {
    display: flex;
    justify-content: space-between;
}

.nav1 .bod1 {
    background-color: black;
    border-radius: 25px;
}

nav .nav1 .nav4 input {
    border-radius: 25px;
    font-size: 16pt;
    width: 200px;
    border: 2px solid black;
    padding: 18px;
}

nav .nav1 .bod1 .nav4 .a3 {
    padding-top: 15px;
}

nav .nav1 .nav4 .a4 {
    padding: 18px;
    font-size: 16pt;
}

nav .nav1 div .a2:hover {
    background-color: white;
    color: blue
}

nav .nav1 .bod1 {
    display: flex;
    position: absolute;
    padding: 0;
    top: 10px;
    right: 10px;
}

nav .nav5 {
    padding-top: 40px;
}

nav a {
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    text-decoration: none;
    color: aqua;
    padding: 10px;
}

/* nav */

/* bod */

.bod {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 80px;
    line-height: 40px;
}

.bod h1:first-child {
    font-size: 20pt;
    font-variant: small-caps;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aqua;
}

.bod h1:nth-child(2) {
    font-size: 40pt;
    font-family: 'Courier New', Courier, monospace;
    color: black;
}

.bod h1:last-child {
    font-size: 20pt;
    color: black;
    font-weight: normal;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* bod */

/* article */

article {
    width: 50%;
    height: 100%;
    line-height: 40px;
}

article p {
    margin-left: 200px;
    margin-top: 60px;
}

article p:nth-child(2) {
    font-size: 30pt;
}

article h1 a {
    text-decoration: none;
    margin-left: 200px;
    border: 1px solid black;
    border-radius: 25px;
    padding: 10px;
    background-color: aqua;
}

/* article */

/* bod2 */

.bod2 {
    display: flex;
}

/* bod2 */

/* asside */

aside img {
    width: 100%;
    height: 100%;
    padding-left: 50px;
    padding-right: 200px;
}

aside {
    height: 100%;
}

/* asside */

/* bod3 */

.bod3 {
    width: 100%;
    position: relative;
    margin-top: 30px;
    height: 800px;
}

.bod3 img {
    margin-top: 30px;
    width: 100%;
    height: 800px;
}

.bod3 a {
    text-decoration: none;
    color: aqua;
    position: absolute;
    top: 300px;
    left: 600px;
}

/* bod3 */

/* bod4 */

.bod4 {
    display: flex;
    width: 100%;
    margin-top: 150px;
    justify-content: center;
}

.bod4 img {
    width: 120px;
    height: 120px;
}

.bod4 .note1 {
    margin: 40px;
    padding: 20px;
}

.bod4 .note1:hover {
    border: 2px solid black;
    border-radius: 25px;
}

.note1 .note2 p {
    text-align: center;
}

.note1 .note3 img {
    margin-left: 40px;
}

.note1 .note4 img {
    margin-left: 20px;
}

.note1 .note5 img {
    margin-left: 30px;
}

.note1 .note6 p {
    text-align: center;
}

/* bod4 */

/* cha */

.cha {
    background-color: transparent;
    width: 100%;
    height: 100px;
}

.cha1 {
    display: flex;
    justify-content: center;
    width: 100%;
}
.cha2 p{
    padding-right: 30px;

}
.cha4 {
    display: flex;
    justify-content: center;
    
}

/* .cha5{
    
    padding-left:40px;
} */

.cha3 {
    width: 5%;
    height: 5px;
    background-color: #0072ce;
}

.cha6 {
    width: 5%;
    height: 5px;
    background-color: #0072ce;
    opacity: 50%;
}

/* cha */

/* moa */

.moa {
    padding-top: 50px;
    padding-bottom: 55px;
    background-color: #282829;
}

.moa h2 {
    font-weight: bold;
    text-align: center;
    font-size: 40px;
    color: #f5f5f5;
    margin-bottom: 50px;
}

.moa2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding-left: 170px;
    padding-right: 170px;
}

.moa2 a {
    width: 25%;
    margin-bottom: 30px;
    padding-left: 10pt;
    padding-right: 10pt;
    border-radius: 25px;
}

.moa2 a:hover {
    transform: scale(1.02);
}

.moa2 a img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 25px;
}

/* moa */

/* footer */

footer {
    background-color: #0072ce;
    display: flex;
    width: 100%;
    height: 100%;
}

.bod6 {
    display: flex;
    width: 40%;
    height: 100%;
}

/* no3 */

.no1 .no5 {
    width: 100px;
    height: 100px;
}

.no1 .no3 img {
    width: 40px;
    height: 40px;
}

.no1 .no3 {
    display: flex;
}

.no1 .no3 p {
    color: white;
    padding-top: 10px;
    padding-left: 10px;
}

.no1 .no7 {
    color: white;
}

.bod6 .no2 .no6 {
    width: 220px;
    height: 180px;
}

.no1 {
    padding-left: 100px;
    padding-top: 40px;
}

.no2 {
    padding-left: 100px;
}

.no2 .no7 {
    color: white
}

.bod5 {
    display: flex;
    width: 58%;
    justify-content: center;
    padding-top: 120px;
    line-height: 30px;
    font-size: 10pt;
    color: rgba(255, 255, 255, 0.87);
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}

/* bod10 */

.bod10 {
    width: 100%;
    height: 400px;
    margin-top: 150px;
    text-align: center;
}

.bod10 .no11 {
    display: flex;
    justify-content: center;
}

.bod10 .no11 a img {
    width: 120px;
    height: 120px;
    padding-left: 10px;
    border-radius: 80px;
    margin-top: 40px;
}

.bod10 h1 {
    color: aqua;
}