* {
    margin: 0;
    ;
    padding: 0;
    box-sizing: border-box;
}

/* a1 */

.a1{
    position: relative;
    background-color: black;
    width: 100%;
    height: 30px;

}
.a1 img {
    position: absolute;
    width: 6%;
    right:0;
    top:5px;
}
/* a1 */

/* click-menu */
#menu-click:checked~.click-menu {
    height: 200px;
    display: flex;
}

.click-menu ul {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
    border-bottom: 2px solid #e5e5e5;
    padding-bottom: 20px;
}
.title1{
    text-align: center;
    font-size:14pt;
    padding-top:10px;
}
.click-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: white;
    transition: height 0.5s;
    justify-content: center;
    border-bottom: 2px solid #e5e5e5;
    height: 0;
    transition: all 0.5s;
    

}
.click-menu a{
    text-decoration: none;
    color: black;
}
.click-menu ul li {
    display: inline-block;
    justify-content: space-between;
}
.click-menu ul li a {
    color: black;
    display: block;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
}

.click-menu ul li a:hover {
    transform:scale(1.02);
    box-shadow: 0px 0px 5px #0072ce;
    border-radius: 5px;
}

.click-menu ul li a img {
    width: 120px;
    display: block;
}

/* click-menu */

/* click-menu1 */

#menu-click1:checked~.click-menu1 {
    height: 200px;
    display: flex;
}

.click-menu1 ul {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
    border-bottom: 2px solid #e5e5e5;
    
}
.title2{
    display: flex;
    justify-content: center;
    font-size:12pt;
    padding-top:10px;
}
.title2 a{
    text-decoration: none;
    color: black;
}
.title2 li{
    margin-left: 20px;
    font-size:16pt;
}
.title2 li:hover{
    transform:scale(1.02);
    box-shadow: 0px 0px 5px #0072ce;
}
.click-menu1 {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: white;
    transition: height 0.5s;
    justify-content: center;
    border-bottom: 2px solid #e5e5e5;
    height: 0;
    transition: all 0.5s;
}
.click-menu1 ul li {
    display: inline-block;
    justify-content: space-between;
}
.click-menu1 ul li a {
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
    padding-right: 30px;
    padding-left: 30px;
    color: black;
}

.click-menu1 ul li a:hover {
    border-radius: 5px;
    transform:scale(1.02);
    box-shadow: 0px 0px 5px #0072ce;
}

.click-menu1 ul li a img {
    width: 120px;
    display: block;
}

/* click-menu1 */
/* click-menu2 */

#menu-click2:checked~.click-menu2 {
    height: 80px;
    display: flex;
}


.click-menu2 {
    display: none;
    width: 100%;
    transition: height 0,5s;
    justify-content: center;
    border-top: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
    height: 0;
    transition: all 0,5s;
}

.click-menu2 li {
    margin-top:10px;
    display: inline-block;
    height: 60px;
    font-size:18pt;
}
.click-menu2 a {
    text-decoration: none;
    width: 200px;
    display: block;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: black;
}

.click-menu2 li:hover {
    transform:scale(1.02);
    box-shadow: 0px 0px 5px #0072ce;
    border-radius: 5px;
}

/* click-menu2 */
/* click-menu3 */


.click-menu3 {
    display: none;
    width: 100%;
    background-color: white;
    transition: height 0.5s;
    justify-content: center;
    border-bottom: 2px solid #e5e5e5;
    border-top: 2px solid #e5e5e5;
    height: 0;
    transition: all 0.5s;
}
#menu-click3:checked ~ .click-menu3 {
    height: 80px;
    display: flex;
}
.click-menu3  a{
    text-decoration: none;
    color: black;
}
.click-menu3 li{
    height: 60px;
    font-weight: bold;
    color: black;
    width:200px;
    padding: 10px;
    font-size:20pt;
    text-align: center;
}


.click-menu3 li:hover {
    transform:scale(1.02);
    border-radius: 5px;
    box-shadow: 0px 0px 5px #0072ce;
}


/* click-menu3 */
/* click-menu4 */

#menu-click4:checked ~ .click-menu4 {
    height: 200px;
    display: flex;
}
.click-menu4 ul {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
    border-bottom: 2px solid #e5e5e5;
    padding-bottom: 20px;
}
.click-menu4 {
    display: none;
    width: 100%;
    background-color: white;
    transition: height 0.5s;
    justify-content: center;
    border-bottom: 2px solid #e5e5e5;
    height: 0;
    transition: all 0.5s;
}
.click-menu4 a{
    text-decoration: none;
}
.click-menu4 ul li {
    display: inline-block;
}
.click-menu4 ul li a {
    display: block;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: black;
}

.click-menu4 ul li a:hover {
    transform:scale(1.02);
    border-radius: 5px;
    box-shadow: 0px 0px 5px #0072ce;
}

.click-menu4 ul li a img {
    width: 120px;
    display: block;
}
/* click-menu4 */

/* header */

header {
    width: 100%;
    background-image: url(../images/22575.jpg);
    padding-bottom: 0px;
    height: 800px;
    background-size: cover;
    background-position: center center;
}

header img {
    position: relative;
}

header div .logopts img {
    width: 450px;
    height: 150px;
    top: 200px;
    left: 200px;
}

header div div h1 {
    font-size: 40pt;
    margin-left: 200px;
    margin-top: 200px;
}

/* header */

/* nav */

.nav5>ul>li {
    padding:0;
    margin:0;
    width: 100%;
    display: flex;
}
label{
    margin-left: 20px;
    margin-right: 20px;
    transform: translateX(-400px);
}

.nav5>ul {
    transform: translateY(30px);
    list-style: none;
    top: 30px;
}

nav {
    width: 100%;
    height: 80px;
    display: flex;
    position: relative;
}

nav .nav3 a img {
    margin-left: 20px;
    width: 70px;
    height: 50px;
}

nav .nav1 div .a2 {
    border: 2px solid black;
    border-radius: 25px;
    color: aqua;
    text-align: center;
    background-color: black;
    padding: 18px;
    font-size: 16pt;
}

nav .nav1 .nav4 {
    display: flex;
    justify-content: space-between;
}
.nav1 .bod1{
    background-color: black;
    border-radius: 25px;
}
nav .nav1 .nav4 input{
    border-radius: 25px;
    font-size: 16pt;
    width:200px;
    border: 2px solid black;
    border-radius: 25px;   
}

nav .nav1 div .a2:hover {
    background-color: white;
    color: blue
}

nav .nav1 .bod1 {
    display: flex;
    position: absolute;
    padding: 0;
    top: 10px;
    right: 10px;
}
nav a {
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    text-decoration: none;
    color: aqua;
    padding: 10px;
}


/* nav */


/* ai */

.ai {
    display: flex;
    width: 100%;
    height: 700px;
    justify-content:center;
}

.ai .ai1 {
    margin-left:180px;
    width: 50%;
}

.ai .ai2 {
    width: 50%;
    margin-right: 180px;
}

.ai .ai2 img {
    margin-top: 80px;
    width: 100%;
}

.ai .ai1 .ai3 {
    height: 400px;
    width: 100%;
    padding-top: 200px;
}

.ai .ai3 div {
    margin-top: 40px;
}

.ai .ai3 div a {
    text-decoration: none;
    border: 2px solid black;
    border-radius: 25px;
    padding: 10px;
    color: white;
    background-color: blue;
}

.ai .ai3 p:first-child {
    font-weight: normal;
    color: blue;
    font-size: 12pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.ai .ai3 p:nth-child(2) {
    margin-bottom: 30px;
    font-size: 25pt;
}

/* ai */

/* bi */

.bi {
    background-color: #0072ce;
    width: 100%;
    height: 100%;
    padding-bottom: 80px;
}

.bi .bi1 {
    text-align: center;
    color: white;
}

.bi .bi1 p {
    font-size: 18pt;
}

.bi .bi1 h1 {
    padding-top: 30px;
    margin-bottom: 30px;
    font-weight: normal;
    font-size: 30pt;
}

/* chữ */
.cha {
    background-color: transparent;
    width: 100%;
    height: 100px;
}

.cha1 {
    margin-top: 80px;
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    /* transform: translateX(-111px); */
}
.cha2{
    width:5%;
    padding-left:10px;
}
.cha5{
    
    padding-left:10px;
}

.cha4 {
    display: flex;
    justify-content: center;
    
}

.cha3 {
    width: 5%;
    height: 5px;
    background-color: white;
}

.cha6 {
    width: 12%;
    height: 5px;
    background-color: white;
    opacity: 50%;
}
/* chữ */

/* box */

.bi .bi2 .bi5 {
    width: 100%;
    display: flex;
    justify-content: center;
    
    width: 100%;
    height: 5px;
}

.bi .bi2 .bi5 .bi6 {
    width: 30%;
    background-color: white;
    color: white;
    
}

.bi .bi2 .bi5 .bi7 {
    width: 30%;
    background-color: rgb(156, 150, 150);

}

/* box */

/* Hinh 11v11 */

.bi3 .bi8 {
    
    display: flex;
    width: 100%;
    padding-left: 180px;
    padding-right: 180px;
    justify-content: center;
}

.bi3 .bi8 .bi10 {
    width: 50%;
}

.bi3 .bi8 .bi11 {
    width: 50%;
}

.bi3 .bi8 .bi10 img {
    width: 95%;
}

.bi3 .bi8 .bi11 img {
    width: 95%;
    margin-left: 5%;
}

/* Hinh 11v11 */

/* bi9 */

.bi9 {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-left: 180px;
    padding-right: 180px;
}

.bi3 .bi9 .bi10 {
    width: 95%;
    color: white;
}

.bi3 .bi9 .bi11 {
    color: white;
    width: 95%;
    margin-left: 5%;
}

.bi3 .bi9 .bi10 p:first-child {
    font-size: 20pt;
    font-variant: small-caps;
    margin-top: 20px;
    margin-bottom: 30px;
}

.bi3 .bi9 .bi11 p:first-child {
    font-size: 20pt;
    font-variant: small-caps;
    margin-top: 20px;
    margin-bottom: 30px;
}

/* bi9 */

/* ci */

.ci {
    height: 950px;
    width: 100%;
    background-image: linear-gradient(0, #9ce9a8, transparent), url(../images/hyper.jpeg);
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
}

.ci .ci1 .ci4 {
    width: 100%;
}

.ci .ci1 .ci4 img {
    width: 100%;
}

.ci .ci1 {
    display: flex;
}

.ci2 {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 300px;
    bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.ci7 {
    width: 30%;
    height: 100%;
}

.ci8 {
    width: 30%;
    height: 100%;
}

.ci .ci2 img {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}

.ci .ci2 iframe {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}



.ci9>p:first-child {
    font-size: 30pt;
    padding-top: 60px;
    margin-bottom: 30px;
}

 .ci9>p:nth-child(2) {
    font-size: 16pt;
    font-variant: small-caps;
    margin-bottom: 20px;
}

.ci14 {
    display: flex;
    margin-bottom: 30px;
}

 .ci14 p:first-child {
    border: 2px solid black;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 10px;
}

.ci14 p:nth-child(2) {
    border: 2px solid black;
    padding-right: 10px;
    padding-left: 10px;
}

 .ci15 p{
    margin-bottom: 30px;
}
 .ci11 a{
    text-decoration: none;
    width:40%;
    color: white;
    padding: 10px;
    border-radius: 25px;
    border: 2px solid black;
    background-color: blue;
}

    
.ci10{
    margin-top:20px;
    line-height:25px;
}
 .c12{
    margin-right: 10px;
}


 .ci3 {
    width: 100%;
    margin-left: 180px;
}

.ci10 {
    display: flex;
}

.ci2 .ci6:hover{
    transform: scale(1.02);
    
    border-radius: 25px;
}
.ci2 .ci7:hover{
    transform: scale(1.02);
}
.ci2 .ci8:hover{
    transform: scale(1.02);
}

.ci6 {
    width: 30%;
    
    height: 100%;
}

/* ci */

/* di */
.di{
    background-image: linear-gradient(0,rgb(238, 229, 229),transparent),url(../images/back.jpeg);
    width:100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
    display: flex;
    justify-content: center;   
    
}
.di1 {
    width:50%;
    height:100%;
    padding-top:150px;
    font-size:20pt;
    color:white;
    margin-left: 180px;
}
.di1 p:first-child{
    font-size:12pt;
    font-variant: small-caps;
}
.di2 {
    width: 50%;
    color:white;
    padding-top:150px;
    font-size:12pt;
    padding-bottom: 150px;
    margin-right: 180px;
    
}
/* di */

/* footer */

footer {
    background-color: #0072ce;
    display: flex;
    width: 100%;
    height: 100%;
}

.bod6 {
    display: flex;
    width: 40%;
    height: 100%;
}

.no1 .no5 {
    width: 100px;
    height: 100px;
}

.no1 .no3 img {
    width: 40px;
    height: 40px;
}

.no1 .no3 {
    display: flex;
}

.no1 .no3 p {
    color: white;
    padding-top: 10px;
    padding-left: 10px;
}

.no1 .no7 {
    color: white;
}

.bod6 .no2 .no6 {
    width: 220px;
    height: 180px;
}

.no1 {
    padding-left: 100px;
    padding-top: 40px;
}

.no2 {
    padding-left: 100px;
}

.no2 .no7 {
    color: white
}

.bod5 {
    display: flex;
    width: 58%;
    justify-content: center;
    padding-top: 120px;
    line-height: 30px;
    font-size: 10pt;
    color: rgba(255, 255, 255, 0.87);
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}