* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* a1 */
.a1{
    position: relative;
    background-color: black;
    width: 100%;
    height: 30px;

}
.a1 img {
    position: absolute;
    width: 6%;
    right:0;
    top:5px;
}

/* a1 */
.new-header {
    background-image: url(../images/hero.jpeg);
    width: 100%;
    height:600px;
    background-size: cover;
    background-position: top center;
    position: relative;
    opacity: 100%;
}
/* click-menu *//* click-menu */
#menu-click:checked~.click-menu {
    height: 200px;
    display: flex;
}

.click-menu ul {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
    border-bottom: 2px solid #e5e5e5;
    /* background-color: #0072ce; */
    padding-bottom: 20px;
}
.title1{
    text-align: center;
    font-size:14pt;
    padding-top:10px;
}
.click-menu {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: white;
    transition: height 0.5s;
    justify-content: center;
    border-bottom: 2px solid #e5e5e5;
    height: 0;
    transition: all 0.5s;
    

}
.click-menu a{
    text-decoration: none;
    color: black;
}
.click-menu ul li {
    display: inline-block;
    justify-content: space-between;
}
.title1{
    display: flex;
    justify-content: center;
    font-size:14pt;
    padding-top:10px;
}
.title1 li:hover {
    transform:scale(1.02);
    box-shadow: 0px 0px 5px #0072ce;
}

.click-menu ul li:first-child>a{
    padding-top: 10px;
}
.click-menu ul li a {
    color: black;
    display: block;
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
}

.click-menu ul li a:hover {
    transform:scale(1.02);
    box-shadow: 0px 0px 5px #0072ce;
    border-radius: 5px;
}

.click-menu ul li a img {
    width: 120px;
    display: block;
}

/* click-menu */

/* click-menu1 */

#menu-click1:checked~.click-menu1 {
    height: 200px;
    display: flex;
}

.click-menu1 ul {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 150px;
    border-bottom: 2px solid #e5e5e5;
    
}
.title2{
    display: flex;
    justify-content: center;
    font-size:12pt;
    padding-top:10px;
}
.title2 a{
    text-decoration: none;
    color: black;
}
.title2 li{
    margin-left: 20px;
    font-size:16pt;
}
.title2 li:hover{
    transform:scale(1.02);
    box-shadow: 0px 0px 5px #0072ce;
}
.click-menu1 {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: white;
    transition: height 0.5s;
    justify-content: center;
    border-bottom: 2px solid #e5e5e5;
    height: 0;
    transition: all 0.5s;
}
.click-menu1 ul li {
    display: inline-block;
    justify-content: space-between;
}
.click-menu1 ul li:first-child>a{
    padding-top: 10px;
}
.click-menu1 ul li:nth-child(3)>a>img{
    height:100px;

}
.click-menu1 ul li:nth-child(3)>a{
    padding-top: 20px;
}
.click-menu1 ul li a {
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: bold;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    color: black;
}

.click-menu1 ul li a:hover {
    border-radius: 5px;
    transform:scale(1.02);
    box-shadow: 0px 0px 5px #0072ce;
}

.click-menu1 ul li a img {
    width: 120px;
    display: block;
}

/* click-menu1 */
/* click-menu2 */

#menu-click2:checked~.click-menu2 {
    height: 80px;
    display: flex;
}


.click-menu2 {
    display: none;
    width: 100%;
    transition: height 0,5s;
    justify-content: center;
    border-top: 2px solid #e5e5e5;
    border-bottom: 2px solid #e5e5e5;
    height: 0;
    transition: all 0,5s;
}

.click-menu2 li {
    margin-top:10px;
    display: inline-block;
    height: 60px;
    font-size:18pt;
}
.click-menu2 a {
    text-decoration: none;
    width: 200px;
    display: block;
    padding: 20px;
    text-align: center;
    font-weight: bold;
    color: black;
}

.click-menu2 li:hover {
    transform:scale(1.02);
    box-shadow: 0px 0px 5px #0072ce;
    border-radius: 5px;
}

/* click-menu2 */
/* click-menu3 */


.click-menu3 {
    display: none;
    width: 100%;
    background-color: white;
    transition: height 0.5s;
    justify-content: center;
    border-bottom: 2px solid #e5e5e5;
    border-top: 2px solid #e5e5e5;
    height: 0;
    transition: all 0.5s;
}
#menu-click3:checked ~ .click-menu3 {
    height: 80px;
    display: flex;
}
.click-menu3  a{
    text-decoration: none;
    color: black;
}
.click-menu3 li{
    height: 60px;
    font-weight: bold;
    color: black;
    width:200px;
    padding: 10px;
    font-size:20pt;
    text-align: center;
}


.click-menu3 li:hover {
    transform:scale(1.02);
    border-radius: 5px;
    box-shadow: 0px 0px 5px #0072ce;
}


/* click-menu3 */
/* click-menu4 */

#menu-click4:checked ~ .click-menu4 {
    height: 130px;
    display: flex;
}

.click-menu4 {
    display: none;
    width: 100%;
    background-color: white;
    transition: height 0.5s;
    justify-content: center;
    border-bottom: 2px solid #e5e5e5;
    height: 0;
    transition: all 0.5s;
}

.click-menu4 a {
    text-decoration: none;
    display: block;
    text-align: center;
    font-weight: bold;
    color: black;
}


.click-menu4 .title3 img{
    border-radius: 50px;
    margin-top: 10px;
    width:90px;
    height:90px;
}

/* click-menu4 */
/* nav */

.nav5>ul>li {
    padding:0;
    margin:0;
    width: 100%;
    display: flex;
}
label{
    margin-left: 20px;
    margin-right: 20px;
    transform: translateX(-400px);
}

.nav5>ul {
    transform: translateY(30px);
    list-style: none;
    top: 30px;
}

nav {
    width: 100%;
    height: 80px;
    display: flex;
    position: relative;
}

nav .nav3 a img {
    margin-left: 20px;
    width: 70px;
    height: 50px;
}

nav .nav1 div .a2 {
    border: 2px solid black;
    border-radius: 25px;
    color: aqua;
    text-align: center;
    background-color: black;
    padding: 18px;
    font-size: 16pt;
}

nav .nav1 .nav4 {
    display: flex;
    justify-content: space-between;
}
.nav1 .bod1{
    background-color: black;
    border-radius: 25px;
}
nav .nav1 .nav4 input{
    border-radius: 25px;
    font-size: 16pt;
    width:200px;
    border: 2px solid black;
    border-radius: 25px;   
}

nav .nav1 div .a2:hover {
    background-color: white;
    color: blue
}

nav .nav1 .bod1 {
    display: flex;
    position: absolute;
    padding: 0;
    top: 10px;
    right: 10px;
}



nav a {
    text-decoration: none;
    padding: 10px;
}

nav a:hover {
    text-decoration: none;
    color: aqua;
    padding: 10px;
}


/* nav */

/* content */
.header {
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.header p:first-child{
    font-size:14pt;
    color:#0072ce;
    font-variant: small-caps;
}
.header p:nth-child(2){
    font-size: 30pt;


}
.header p:nth-child(3){
    font-size: 18pt;
    color:gray;
    opacity: 50%;
}
.header p:last-child{
    font-size:18pt;
    color:gray;
    opacity: 50%;
}
.body-product{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top:50px;
    padding-bottom: 50px;
}


.clip iframe{
    border-radius: 25px;
    margin: 20px;
    width:600px;
    height:300px;
}
.clip :hover{
    transform: scale(1.02);
}
.page-graph{
    margin-top: 30px;
    margin-left: 20px;
    margin-right: 20px;
    
}
.page-graph p:first-child{
    font-size: 25pt;
    margin-bottom: 20px;
}
.page-graph div {
    margin-top: 40px;
}
.page-graph div a{
    text-decoration: none;
    background-color:#0072ce;
    color:white;
    padding: 10px;
    border-radius:25px;
    border: 2px solid black;
}
/* content */
/* upcoming */
.upcoming{
    width: 100%;
    width: 100%;
    position: relative;
}
.item{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 300px;
    padding-left: 300px;
    
}
.item h1{
    padding-left: 300px;
    color: aliceblue;
    margin-bottom: 100px;
} 
.item iframe{
    border-radius: 25px;
    width: 100%;
    height: 500px;
}
.item iframe:hover{
    transform: scale(1.02);
}

.background{
    background-image: linear-gradient(0,rgb(245, 245, 238),transparent),url(../images/upcoming.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 800px;
    background-color: #0072ce;
}
.mid-body .produc1 .clip:hover{
    transform: scale(1.02);
}
.item-upcoming{
    display: flex;
    justify-content: center;
}
.mid-body .produc1{
    width: 50%;
}

.mid-body .page-graph{
    width: 100%;
}

.mid-body{
    width: 100%;
    height: 100%;
    display: flex;
    margin-top:250px;
    justify-content: center;
    margin-bottom: 50px;
    margin-left: 220px;
    margin-right: 220px;
}


.footer-up .new-pro{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    
    
}

.footer-up .clip iframe{ 
    border-radius: 25px;
    width:350px;
    height:200px;
} 

.footer-up .page-graph{
    width:350px;
} 

/* upcoming */
/* studio */
.studio{
    width:100%;
    height:1100px;
    background-color:#0072ce;
    font-size:14pt;
}
.studio .img{
    text-align: center;
    padding-top: 60px;
}
.studio .img img{
    width: 180px;
    height:180px;
    margin-bottom: 30px;
}
.studio .img p{
    margin-bottom: 20px;
}

.footer-studio{
    display:flex;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
   
    
    
}
.footer-studio img{
    width:88%;
    margin-left:20px;
    margin-top: 20px;
    border-radius: 0;
    height: 300px;
    
}
.footer-studio .page-graph{
    width:88%;
    height:300px;
}
.footer-studio .produc1{
    background-color: #1f1f1f;
    width: 20%;
    height: 100%;
    color:white;
    font-size:12pt;
    margin-left: 45px;
    margin-right: 45px;
}

.footer-studio .produc1 p:first-child{
    font-size: 20pt;
}
.footer-studio .produc1 a{
    border: 2px solid white;
    
}

/* studio */
/* contain */
.contain{
    width: 100%;
    height:220px;
    padding-left: 220px;
    padding-right: 220px;
    padding-top: 40px;
    
    font-size:12pt;
}
.contain p:first-child{
    margin-bottom: 20px;
}
.contain p:nth-child(2){
    margin-bottom: 20px;
}
.contention{
    background-color: aqua;
    
    
}
/* contain */

/* footer */
footer {
    background-color: #0072ce;
    
    display: flex;
    width: 100%;
    height: 100%;
}

.bod6 {
    display: flex;
    width: 40%;
    height: 100%;
}

/* no3 */

.no1 .no5 {
    width: 100px;
    height: 100px;
}

.no1 .no3 img {
    width: 40px;
    height: 40px;
}

.no1 .no3 {
    display: flex;
}

.no1 .no3 p {
    color: white;
    padding-top: 10px;
    padding-left: 10px;
}

.no1 .no7 {
    color: white;
}

.bod6 .no2 .no6 {
    width: 220px;
    height: 180px;
}

.no1 {
    padding-left: 100px;
    padding-top: 40px;
}

.no2 {
    padding-left: 100px;
}

.no2 .no7 {
    color: white
}

.bod5 {
    display: flex;
    width: 58%;
    justify-content: center;
    padding-top: 120px;
    line-height: 30px;
    font-size: 10pt;
    color: rgba(255, 255, 255, 0.87);
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
}